<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKWebViewTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAEA3BB91BE268FF003F5587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEA3BD21BE268FF003F5587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEA3BDD1BE268FF003F5587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
